.data
.cache
.eggs

# python cruft
*.pyc
*.pyo
*$py.class
*.egg
*.egg-info
__pycache__
dist
build
pip-log.txt
MANIFEST

# test cruft
.tox
.noseids
.coverage
.coverage.*
coverage.xml
htmlcov
test_html
test_file_storage
virt-*
.pytest_cache

## test output
spyne/test/*.html
spyne/test/store
test_result*
Test*.html

## run_tests.sh
jython-installer-*
Python-2.[67].*
Python-3.[3456789].*

## wsi-test
wsi-test-tools
WSI_Test_Java_Final_1.1.zip
spyne/test/interop/config.xml
spyne/test/config.xml

# sphinx cruft
.buildinfo
doc/docs

# latex cruft
get_utc_time.pdf
pres.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.backup

# 2to3 cruft
*.bak

# output from examples
examples/file_manager/files/
examples/xml/*.xsd

# nuitka cruft
*.build

# cruft produced by non-spyne code need to go to your global ignores file. see
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
