# All files to globally ignore

# python cruft
*.pyc
*.pyo
*$py.class
*.egg
*.egg-info
.noseids
.coverage
pip-log.txt
MANIFEST
dist
build

# Mac cruft
.DS_Store

# wingware cruft
*.wpu

# emacs cruft
*~
*#*
*.pyc
*flymake.py
.ropeproject

# wing cruft
*.wpr

#virtualenv cruft
bin
lib
include
develop-eggs
.installed.cfg

# netbeans cruft
nbproject

# pycharm cruft
.idea/

# wsi-test
wsi-test-tools
WSI_Test_Java_Final_1.1.zip
src/rpclib/test/interop/config.xml

# kate cruft
*.kate-swp

# sphinx cruft
.buildinfo

# latex cruft
get_utc_time.pdf
pres.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.backup
