pytest
pytest-twisted
coverage
junitxml
werkzeug
sqlalchemy<1.0.99
lxml>=2.3
pyyaml
pyzmq
twisted
colorama
msgpack-python
webtest
pytest_django
django
python-subunit
pyramid
tox
pyparsing>=2.0.2
suds-jurko
