pytest>=2.9
pytest-twisted
pytest-cov
coverage
junitxml
werkzeug
sqlalchemy
lxml>=3.6
pyyaml
pyzmq
twisted
colorama
msgpack-python
webtest
pytest_django
django
python-subunit
pyramid
tox
pyparsing>=2.0.2
suds-jurko
zeep
pandas
