ordereddict
pytest<2.8
pytest-twisted
coverage
junitxml
werkzeug
sqlalchemy
lxml>=2.3
pyyaml
pyzmq
twisted
colorama
msgpack-python
webtest
pytest_django
django<1.7
python-subunit
pyramid
tox
pyparsing>=2.0.2
suds-jurko
